/*
https://github.com/davatorium/rofi/blob/next/doc/rofi-theme.5.markdown
*/

configuration {
	modi: "drun";
	drun-match-fields: "name";
}

element-text, element-icon {
	background-color: inherit;
	text-color:       inherit;
}

window {
	border: 3;
	border-color: #ff0000;
}

listview {
	lines: 5;
	padding: 5;
}

element {
	padding: 20;
}

